#content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#education-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#personal-info-section, #education-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#education-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}